<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <title>{{ title }}</title>
    <script>
        function openCalculatePage() {
            const num = document.getElementById('num').value;
            if (num === "") {
                return
            }
            window.location.href = `/square/${num}`;
        }
    </script>
</head>

<body>
    <header>
        <span>{{ header }}</spaln>
    </header>
    <div class="wrapper">
        <h2>登入系統</h2>
        <form class="form-signin" action="/signin" method="post">
            <div>
                帳號：<input type="text" name="username" />
            </div>
            <div>
                密碼：<input type="password" name="password" />
            </div>
            <div>
                <button>登入</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="wrapper">
        <h2>計算正整數的平方</h2>
        <div>
            正整數：<input type="number" name="num" id="num" required />
        </div>
        <div>
            <button onclick="openCalculatePage()">計算</button>
        </div>

    </div>
</body>

</html>